__pycache__/
*.py[cod]
.venv/
.env
.env.*
outputs/
checkpoints/
wandb/
swanlab_log/
outputs/
inference/outputs/
*.log
*.pt
*.pth
*.safetensors
*.bin
data/
data_process/AutoDrive_P3/*.json
metric_cache/
